# CONEXÃO COM BANCO DE DADOS

## Autenticação com Windows
DB_CONNECTION=Server=SEU_SERVIDOR;Database=NOME_DA_BASE_DE_DADOS;Trusted_Connection=True;TrustServerCertificate=True

## Autenticação com usuário e senha
DB_CONNECTION=Server=SEU_SERVIDOR;Database=NOME_DA_BASE_DE_DADOS;User Id=SEU_USUARIO;Password=SUA_SENHA;TrustServerCertificate=True